<!DOCTYPE html>
<html>
<head>
    <title>Carriers</title>
</head>
<body>
  <form action="/create_carrier" method="POST">
    <input type="hidden" name="csrf_name" value="{{ csrf.name }}">
    <input type="hidden" name="csrf_value" value="{{ csrf.value }}">
    <input name="company_name" type="text"/>
    <input name="contact_person" type="text"/>
    <input name="email" type="email"/>
    <input name="phone_number" type="text"/>
    <input name="notes" type="text"/>
    <button type="submit">Create Carrier</button>
  </form>
  {% if carriers %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for c in carriers %}
      <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.companyName }}</td>
        <td>{{ c.contactPerson }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.phoneNumber }}</td>
        <td>{{ c.notes }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No Carriers to Display</p>
  {% endif %}
</body>
</html>
